* text=auto
*.ico binary
*.exe binary
*.xls binary
*.whl binary
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf
*.tsx text eol=lf
*.ts text eol=lf
*.cs text eol=crlf
*.ps1 text eol=crlf
*.iss text eol=crlf
